<table cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th colspan="3">
        Stage 1
      </th>
      <th></th>
      <th colspan="3">
        Stage 2
      </th>
      <th></th>
      <th colspan="3">
        Stage 3
      </th>
    </tr>
    <tr>
      <th>No.</th>
      <th>Photo</th>
      <th>Name</th>
      <th></th>

      <th>No.</th>
      <th>Photo</th>
      <th>Name</th>
      <th></th>

      <th>No.</th>
      <th>Photo</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each species}}
    <tr>
      {{#each stages}}
      {{#unless @first}}
      <td>
        <span class="arrow">&#8594;</span><br>
{{#if candy}}
        {{candy}} candy
{{/if}}
{{#if item}}
        <br>+<br>
        {{item}}
{{/if}}
      </td>
      {{/unless}}

      <td>
        #{{number}}
      </td>
      <td>
        <a href="https://pokemondb.net/pokedex/{{url name}}" target="_blank">
          <img src="https://img.pokemondb.net/artwork/{{icon name}}.jpg" title="{{name}}"/>
        </a>
      </td>
      <td>
        <a href="https://pokemondb.net/pokedex/{{url name}}" target="_blank">
          {{name}}
        </a>
      </td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>
