<table cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th colspan="3">
        Stage 1
      </th>
      <th></th>
      <th colspan="3">
        Stage 2
      </th>
      <th></th>
      <th colspan="3">
        Stage 3
      </th>
    </tr>
    <tr>
      <th>No.</th>
      <th>Photo</th>
      <th>Name</th>
      <th></th>

      <th>No.</th>
      <th>Photo</th>
      <th>Name</th>
      <th></th>

      <th>No.</th>
      <th>Photo</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each species}}
    <tr>
      {{#each stages}}
      {{#unless @first}}
      <td class="gen-{{generation number}}">
        <span class="arrow-container"><span class="arrow"></span></span><br>
{{#if candy}}
        <img alt="Candy" class="middle" src="candy.png" /> <span class="middle">{{candy}}</span>
{{/if}}
{{#each extra}}
        <br>+<br>
        {{#ifRequiresBuddy this}}<img alt="Walk" class="middle" src="sneaker.png"/> {{/ifRequiresBuddy}}<span class="middle">{{this}}</span>
{{/each}}
      </td>
      {{/unless}}

      <td class="gen-{{generation number}}">
        #{{number}}
      </td>
      <td class="gen-{{generation number}}">
        <a href="https://pokemondb.net/pokedex/{{url name}}" target="_blank">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{number}}.png" title="{{name}}"/>
        </a>
      </td>
      <td class="gen-{{generation number}}">
        <a href="https://pokemondb.net/pokedex/{{url name}}" target="_blank">
          {{name}}
        </a>
      </td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>
